.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  place-items: center;

  position: relative;
}

.login__card {
  width: min(500px, 100% - 2rem);
  min-height: 500px;

  border-radius: 30px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.login__image {
  object-fit: contain;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  filter: grayscale(100%);
}
